<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="connection" connectionString="server=localhost;database=doramoviedb;uid=root;pwd=123456;" />-->
    <add name="connection" connectionString="server=118.123.10.135;database=doramoviedb;uid=root;pwd=Maikeruiqi!154;"/>
  </connectionStrings>
</configuration>