<?xml version="1.0" encoding="utf-8"?>
<Email>
  <!--SMTP服务器的名称或IP地址-->
  <SMTP>smtp.gmail.com</SMTP>
  <!--SMTP服务器的端口-->
  <SMTP_POST>587</SMTP_POST>
  <!--邮箱名称-->
  <Email_User>xxx@gmail.com</Email_User>
  <!--邮箱密码-->
  <Email_Pwd>xxx</Email_Pwd>
  <!--
  是否使用安全套接字层(SSL)
  0:不使用
  1:使用
  -->
  <SSL>1</SSL>
</Email>