<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>

  </configSections>
 

  <!-- 数据库链接路径 -->
  <connectionStrings>
    <add name="connection" connectionString="server=localhost;database=doramoviedb;uid=root;pwd=123456;" />
  </connectionStrings>
  <system.web>
    <!--<machineKey validation="3DES" validationKey="319B474B1D2B7A87C996B280450BB36506A95AEDF9B51211" decryptionKey="280450BB36319B474C996B506A95AEDF9B51211B1D2B7A87" decryption="3DES"/>-->
    <!--设置上传文件超过4M时，页面出错 -->
    <httpRuntime maxRequestLength="2097151" useFullyQualifiedRedirectUrl="true" executionTimeout="45" requestValidationMode="2.0" />
    <!-- 防止添加的数据 包括HTML等非GB2312数据时出现错误 -->
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" enableViewState="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
    <!-- 设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <customErrors mode="Off">
      <error redirect="~/404error.aspx" statusCode="404" />
    </customErrors>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
    <!--<authentication mode="Windows"/>-->
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。
        -->

  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="class page" stopProcessing="true">
          <match url="^class-(.*)[.]html$" />
          <action type="Rewrite" url="/CIndex.aspx?class={R:1}" />
        </rule>
        <rule name="index page" stopProcessing="true">
          <match url="^index[.]html$" />
          <action type="Rewrite" url="/Index.aspx" />
        </rule>
        <rule name="movie page" stopProcessing="true">
          <match url="^movie/(\d*)[.]html$" />
          <action type="Rewrite" url="/article.aspx?id={R:1}" />
        </rule>
        <rule name="404 page" stopProcessing="true">
          <match url="^404[.]html$" />
          <action type="Rewrite" url="/404error.aspx" />
        </rule>
      <rule name="500 page" stopProcessing="true">
          <match url="^500[.]html$" />
          <action type="Rewrite" url="/500error.aspx" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.aspx" />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="/404error.aspx" responseMode="ExecuteURL" />
      <remove statusCode="500" />
      <error statusCode="500" path="/500error.aspx" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>