<?xml version="1.0" encoding="utf-8"?>
<!-- 输入的所有内容不能包括回车符和html标签 -->
<PageSetting>
  <title>多啦影院-微信关注tttv77,电影天堂在线,免费电影在线观看</title>
  <!--url不要带http://-->
  <url>www.dora-movie.com.cn</url>
  <smallUrl>多啦影院</smallUrl>
  <keyword>多啦影院,tttv77,电影天堂,电影天堂在线,免费电影,电影</keyword>
  <description>
    多啦影院，微信关注tttv77电影天堂在线，免费提供热门电影视频在线观看，这里有最热门电影推荐，每一天带给您不一样的视界.
  </description>
  <aboutMe>
    多啦影院电影均可免费观看，资源均收集于各大视频网站，本网站只提供页面服务，不提供影片资源存储，也不参与录制、上传。
    若本站收录的页面无意侵犯了贵司版权，请与我们联系，我们会及时处理和回复，对此本站不承担任何法律责任，版权归原影音公司所有。
  </aboutMe>
  <aboutAD>QQ:1256193352  <br/>邮件: tttv77@sina.com</aboutAD>
  <AddTeam></AddTeam>
  <weixin></weixin>
  <tencent>http://</tencent>
  <weibo>http://</weibo>
  <Copyright>Copyright © 2016 www.dora-movie.com.cn All Rights Reserved.沪ICP备09018167号-2</Copyright>
</PageSetting>